<h1> CD Organizer </h1>

<h3> Keep track of your CD collection here </h3>

<form action="/collection" method="post">
  <label for="artist_name">Artist's name:</label>
  <input id="artist_name" name="artist_name" type="text">

  <label for="album_name">Album name:</label>
  <input id="album_name" name="album_name" type="text">
  <button type="submit">Add CD</button>
</form>
<br>
<p> <% if @all_cdes.length() == 0 %>
  Your CD collection is empty.
  <% elsif @artist_add != nil %>
  <%=@album_add%> by <%=@artist_add %> was added to the library at position <%=@id%></p>
  <% end %>
</p>
<form action="/library" method="post">
  <label for="search_artist">Search by Artist name</label>
  <input id="search_artist" name="search_artist" type="text">
  <label for="search_album">Search by Album name</label>
  <input id="search_album" name="search_album" type="text">
  <label for="search_id">Search by location in library</label>
  <input id="search_id" name="search_id" type="text">
  <button type="submit">Search</button>
</form>
